<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/gccsllogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gccsllogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BankingApp"
        tools:targetApi="31">
        <activity
            android:name=".activities.MyPassbookActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".agent.activities.StatementActivity"
            android:exported="false" />
        <activity
            android:name=".agent.activities.AccountStatementActivity"
            android:exported="false" />
        <activity
            android:name=".agent.activities.DailyTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".agent.activities.CustomerActivity"
            android:exported="false" />
        <activity
            android:name=".agent.activities.DailyPostingActivity"
            android:exported="false" />
        <activity
            android:name=".agent.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ConsolidatedStatementActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileScreenActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TwoWheelerLoanActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ApplyForCreditCardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.InvestmentAccountActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FasTagActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PayOverdueEmiActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PayDayLoanActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GoldLoanActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HomeLoanActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PersonalLoanActivity"
            android:exported="false" />
        <activity
            android:name=".activities.OneTimeTransferActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PayYourContactActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ScanQrActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UpiActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BillPayAndRechargeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TransferMoneyActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AccountOverviewActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StatementActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>